<!DOCTYPE html>
<html lang="en-us">
<head>
<style>
.games {
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 300px;
    height: 300px;
    border: 1px solid black;
} 
</style>
</head>
<body>

<h1>This is Marcio Zancheta's About page!!!</h1></h1>

<div class="games">
    <p>My name's Marcio Zancheta. An experiente Web Developer from Brazil. To contact-me call XX-XX-XXXX-XXXX</p>
    <%= link_to 'Link to Home', root_path %>
</div>

</body>
</html>

